<body class="bg-gray-100 text-gray-900">
    <div class="header">🚴‍♂️ ParkMyBike - Jouw Fiets, Jouw Plek! 🚲</div>
    <button (click)="login()" class="btn btn-primary btn-lg mt-3">Login</button>
    <div class="container text-center mt-5">
        <h1 class="text-primary">Welkom bij ParkMyBike</h1>
        <p class="lead">Vind eenvoudig een veilige plek om je fiets te parkeren!</p>
        <br>
        <button class="btn btn-primary btn-lg mt-3">Zoek een parkeerplek</button>
    </div>
    <div class="p-5">
        <app-map></app-map>
    </div>
        

    
    <div class="footer">&copy; 2025 ParkMyBike. Alle rechten voorbehouden.</div>

</body>
