<body class="bg-gray-100 text-gray-900">
    <div class="header">🚴‍♂️ ParkMyBike - Jouw Fiets, Jouw Plek! 🚲
        <img src="assets/person.svg" alt="User Icon" class="user-icon" width="40">
    </div>

    <div class="container text-center mt-5">
        <h1 class="text-primary">Welkom bij ParkMyBike</h1>
        <p class="lead">Vind eenvoudig een veilige plek om je fiets te parkeren!</p>
        <br> 

        <!-- Knop om de pop-up te openen -->
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">
            Filter Instellingen
        </button>

        <!-- De Filter Pop-up -->
        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="filterModalLabel">Filter Instellingen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="minCapacity">Minimum capacity</label>
                        <input type="range" min="1" max="500" id="minCapacity" #minCapacityRef><br>
                        <label for="isFree">is free</label>
                        <input type="checkbox" id="isFree" #isFreeRef><br>
                        <label for="isCovered">is covered</label>
                        <input type="checkbox" id="isCovered" #isCoveredRef><br>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="p-2">
        <app-map></app-map>
    </div>

    <div class="footer">&copy; 2025 ParkMyBike. Alle rechten voorbehouden.</div>
</body>


<!--
        <input type="button" onclick="filter" >//deze button laat een pop up toe om te filteren   
        <label for="minCapacity">Minimum capacity</label>
        <input type="range" min="1" max="500" id="minCapacity" #minCapacityRef><br>
        <label for="isFree">is free</label>
        <input type="checkbox" id="isFree" #isFreeRef><br>
        <label for="isCovered">is covered</label>
       
        <input type="checkbox" id="isCovered" #isCoveredRef><br>         
        <button (click)="locationsFiltered1(iscovered, isfree, +minCapacityRef.value)" 
                class="btn btn-primary btn-lg mt-3">
            Zoek een parkeerplek
        </button>
    </div>
    -->