<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Fietsenstalling</title>
  <link rel="stylesheet" href="styles.css" />
  <!-- Eventueel Google Fonts of andere fonts -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
  <!-- <link rel="stylesheet" href="..."> -->
</head>
<body>

  
 
  <!-- Hero-sectie met achtergrondafbeelding -->
  <header class="hero">
    <div class="hero-overlay">
      <h1>Vind nu de geschikte fietsenstalling in jouw buurt!</h1>

      <!-- Login-box -->
      <div class="login-box">
        <h2>Login</h2>
          <label for="username">Gebruikersnaam</label>
          <input #username type="text" placeholder="Gebruikersnaam" />
       
          <label for="password">Wachtwoord</label>
          <input type="password" id="password" placeholder="Wachtwoord" />
          @if( responsecode  === "401")
          {
              <p class="fout">Fout bij inloggen</p>
          }
          <!-- Een aparte paragraaf voor "Ik heb nog geen account?" -->
        <p class="no-account">Ik heb nog geen account?</p>
        <!-- En dan een aparte paragraaf met de link naar registreren. -->
        <p class="register-link">
        <a href="registreren.html">Registreer hier</a>
        </p>

          <button (click)="Login(username.value)">Login</button>
      </div>
    </div>
  </header>

</body>
</html>
